html {
    min-width: 1280px;
    scroll-behavior:smooth;
}

body {
    margin: 0;
}
            /* header */
header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 1.9375rem;
    padding-bottom: 20px;
}

.header__title {
    width: 184px;
    height: 60px;
}

.logo__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
}

.logo__title__span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #545454;
}

.header__nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__nav__link a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.header__nav__link a:hover {
    transition: ease-in 0.3s;
    border-bottom: 3px solid #F1CDB3;
}

.link__style {
    border-bottom: 3px solid #F1CDB3;
}

/* burger */

.menu__icon {
    display: none;
}

.mob__nav {
    width: 100%;
    height: 100%;
    background: transparent;
}

.burger__container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 823px;
    background-color: #292929;
    transition: right 0.3s ease 0s;
}

.burger__container._active {
    right: 0;
}


.burger__title {
padding-top: 30px;
padding-left: 10px;
}

.burger__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    width: 243px;
    margin: auto;
}

.burger__nav a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 32px;
    line-height: 52px;
    font-weight: 400;
    text-align: center;
}


            /* main */

main {
    background: #F6F6F6
}

.pets__containter {
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0 100px 0;
}

.pets__title {
    padding-bottom: 58px;
    text-align: center;
}

.pets__title h3 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.cards__containter {
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.pets__card:hover {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FFFFFF;
}

.pets__card:hover > .card__button {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FDDCC4;
}

.pets__card p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.card__button {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: white;
    padding: 15px 45px;
}

.card__button span {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}


            /* Button */

.pets__buttons {
    justify-content: center;
    display: flex;
    padding-top: 30px;
    gap: 8px;
}

.pets__buttons:hover > button {
    cursor: pointer;
}

.pets_buttons-grey {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets_buttons-normal {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F1CDB3
}

.pets_buttons-style {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F6F6F6;
}

               /* Footer */


footer {
    background: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
}

.footer__content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer__contacts {
    width: 278px;
    height: 234px;
}

.footer__contacts h3 {
    margin: 0;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
}

.footer__puppy {
    padding-top: 40px;
}

.footer__contacts h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__contacts a {
    text-decoration: none;
}

.footer__location {
    width: 278px;
    height: 234px;
}

.footer__location h3 {
    margin: 0;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
}

.footer__location h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__location  a {
    text-decoration: none;
}

.icon__email {
    display: flex;
    align-items: center;
}

.icon__email img {
    padding-right: 20px;
}

.icon__phone {
    display: flex;
    align-items: center;
}

.icon__phone img {
    padding-right: 20px;
}

.icon__location {
    display: flex;
    align-items: center;
}

.icon__location img {
    padding-right: 20px;
}

/* modal window */

.modal__container {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(41, 41, 41, 0.6);
}

.modal__background {
    width: 952px;
    height: 552px;
    background: transparent;
}

.open__modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #FAFAFA;
    width: 900px;
    height: 500px;
    border-radius: 10px;
}

.modal__description {
    padding: 50px 20px 88px 29px;
}

.button__modal {
    display: flex;
    justify-content: end;
}

.button__close {
    cursor: pointer;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    width: 52px;
    height: 52px;
}

.hidden-modal {
    display: none;
}

@media screen and (max-width: 768px){

    html {
        min-width: 768px;
        overflow-x: hidden;
    }

    header {
        margin: 0 30px 0 30px;
        padding-bottom: 29px;
    }

    .pets__containter {
        width: 768px;
        padding-top: 80px;
        padding-bottom: 85px;
    }

    .pets__title {
        padding-bottom: 30px;
    }

    .cards__containter {
        width: 708px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 40px;
    }

    .pets__card {
        margin-bottom: 0;
        width: 270px;
    }

    .hidden {
        display: none;
    }

    footer {
       width: 768px;
    }

    .footer__content {
        padding-top: 30px;
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .footer__puppy {
        padding-top: 65px;
    }

}

@media screen and (max-width: 767px) {

    .header__nav__link {
        display: none;
    }

    .burger__nav {
        padding-top: 243px;
    }


    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon._active {
        transform: rotate(-90deg) translate(0, -50%);
        padding: 2px 0 2px 0;
    }

    .menu__icon::before,
    .menu__icon::after, 
    .menu__icon span {
        left:0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #F1CDB3;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    
    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

}

@media screen and (max-width: 320px){
    
    html {
        min-width: 320px;
        overflow-x: hidden;
    }

    header {
        margin: 0;
        padding: 30px 8px 30px;
    }
   
    .header__nav__link {
        display: none;
    }

    .burger__menu {
        display: flex;
    }

    .pets__title {
        padding: 42px 0 42px 0;
    }

    .pets__title h3 {
        font-size: 23px;
    }

    .pets__containter {
        width: 300px;
        padding: 0;
    }

    .cards__containter {
        width: 300px;
    }

    .pets__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px;
    }

    .hidden_two {
        display: none;
    }

    .pets__buttons {
        justify-content: space-between;
       padding: 43px 0 50px 0;
       gap: 0;
    }

    footer {
        width: 320px;
    }

    .footer__content {
        padding: 30px 0 0 0;
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    .footer__contacts h3 {
        width: 270px;
        font-size: 25px;
        text-align: center;
    }

    .footer__content h3 {
        width: 270px;
        font-size: 25px;
        text-align: center;
    }

    .footer__puppy {
        padding-top: 40px;
    }

    .footer__puppy img {
        width: 260px;
        height: 269px;
    }
}