html {
    min-width: 1280px;
    scroll-behavior:smooth;
}

body {
    margin: 0;
}
            /* header */
header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 1.9375rem;
    padding-bottom: 20px;
}

.header__title {
    width: 184px;
    height: 60px;
}

.logo__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
}

.logo__title__span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #545454;
}

.header__nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__nav__link a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.header__nav__link a:hover {
    transition: ease-in 0.3s;
    border-bottom: 3px solid #F1CDB3;
}

.link__style {
    border-bottom: 3px solid #F1CDB3;
}
            /* main */

main {
    background: #F6F6F6
}

.pets__containter {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}

.pets__title {
    padding-bottom: 45px;
    text-align: center;
}

.pets__title h3 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.cards__containter {
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    margin-left: 10px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.pets__card:hover {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FFFFFF;
}

.pets__card:hover > .card__button {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FDDCC4;
}


.pets__card p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.card__button {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: white;
    padding: 15px 45px;
}

.card__button span {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}


            /* Button */

.pets__buttons {
    justify-content: center;
    display: flex;
}

.pets__buttons:hover > button {
    cursor: pointer;
}

.pets_buttons-grey {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets_buttons-normal {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F1CDB3
}

.pets_buttons-style {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F6F6F6;
}

               /* Footer */


footer {
    background: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
}

.footer__content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 40px 0 0 0;
}

.footer__contacts {
    width: 278px;
    height: 234px;
}

.footer__contacts h3 {
    margin: 0;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
}

.footer__contacts h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__contacts a {
    text-decoration: none;
}

.footer__location {
    width: 278px;
    height: 234px;
}

.footer__location h3 {
    margin: 0;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
}

.footer__location h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__location  a {
    text-decoration: none;
}

.icon__email {
    display: flex;
    align-items: center;
}

.icon__email img {
    padding-right: 20px;
}

.icon__phone {
    display: flex;
    align-items: center;
}

.icon__phone img {
    padding-right: 20px;
}

.icon__location {
    display: flex;
    align-items: center;
}

.icon__location img {
    padding-right: 20px;
}