html {
    min-width: 1280px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

            /* шрифты */
@font-face {
  font-family: 'Arial';
  src: url(../../assets/fonts/arial/arial-regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Georgia';
  src: url(../../assets/fonts/georgia/georgia-regular.ttf) format('ttf');
}

            /* start__screen */
.start__screen {
    background: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
    
}
            /* header */
header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.9375rem;
}

.header__title {
    width: 184px;
    height: 60px;
}

.logo__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
}

.logo__title__p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header__nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header__nav__link a {
    text-decoration: none;
    color: #CDCDCD;
}

.header__nav__link a:hover {
    transition: ease-out 0.2s;
    border-bottom: 3px solid #F1CDB3;
}

.link__style {
    border-bottom: 3px solid #F1CDB3;
}

.burger__menu {
    display: none;
}

            /* screen__content */
.screen__content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px 40px 0 40px;
}

.screen__header {
    padding-top: 163px;
    color: #FFFFFF
}

.screen__header h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    color: #FFFFFF;
}

.screen__header p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.button__primary {
    cursor: pointer;
    padding: 15px 45px;
    border-radius: 100px;
    background: #F1CDB3;
    border: none;   
}

.button__primary:hover {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FDDCC4;
}

.button__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.screen__puppy {
    width: 698px;
    height: 728px;
    background: url(../../assets/images/start-screen-puppy.png);
}

            /* screen__content */
.section__about {
    background: #FFFFFF;
}

.about__content {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    display: flex;
    justify-content: center;
}

.about__pets {
    width: 300px;
    height: 408px;
    margin-right: 120px;
    margin-left: 175px;
    background-image: url(../../assets/images/about-pets.png);
}

.about__text {
    width: 380px;
    height: 430px;
    margin: 14px 175px 14px 0px;
}

.about__text h3 {
    margin: 0 60px 0 0;    
    padding: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__text p {
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

                /* Pets */

.section__pets {
    background: #F6F6F6;
}

.pets__content {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}

.pets__text  {
    text-align: center;
    padding-bottom: 60px;
}

.pets__text h3 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__slider {
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 435px;
    margin: 0 auto;
    background-color: #FAFAFA;
}

.slider__card:hover {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FFFFFF;
}

.slider__card:hover > .slider__button {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #FDDCC4;
}


.slider__card p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider__button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: white;
}

.hidden__button {
    display: none;
}

.slider__button span {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.slider__button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.slider__button-style:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.buttons__pets {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.button__pets__slider {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;

}

.button__pets__slider:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.button__pets__slider span {
    width: 171px;
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

                /* Help */
                
.section__help {
    background: #FFFFFF;
}

.help__content {
    width: 1200px;
    margin: 0 auto;
  padding: 80px 40px 100px 40px;
}

.help__text h3 {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 90px;
    padding-top: 60px;
}

.list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__item span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
}

                /* Donation */

.section__donation {
    background-color: #F6F6F6;
}

.donation__content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 100px 0;
}

.donation__dog {
    margin-right: 30px;
}

.donation__text h3 {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;      
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text h5 {
    margin: 20px 0 20px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text span {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.credit__cart {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px 10px 15px;
    width: 349px;
}

.credit__cart h4 {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    
}

.credit__cart a {
    text-decoration: none;
}

                /* Footer */

footer {
    background: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
}

.footer__content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 40px 0 0 0;
}

.footer__contacts {
    width: 278px;
    height: 234px;
}

.footer__contacts h3 {
    margin: 0;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
}

.footer__contacts h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;   
}

.footer__contacts a {
    text-decoration: none;
}

.footer__location {
    width: 278px;
    height: 234px;
}

.footer__location h3 {
    margin: 0;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
}

.footer__location h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__location a {
    text-decoration: none;
}

.icon__email {
    display: flex;
    align-items: center;

}

.icon__email img {
    padding-right: 20px;
}

.icon__phone {
    display: flex;
    align-items: center;
}

.icon__phone img {
    padding-right: 20px;
}

.icon__location {
    display: flex;
    align-items: center;
}

.icon__location img {
    padding-right: 20px;
}


@media screen and (max-width: 768px){
   
    html {
        min-width: 768px;
        overflow-x: hidden;
    }
   
    header {
        margin: 0 30px 0 30px;
    }

    .screen__header {
        padding: 0;
    }

    .screen__header h2 {
        margin: 0;
    }

    .screen__content {
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0 0 0;
    }

    .screen__header {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 460px;
        height: 322px;
    }

    .screen__header p {
        padding-bottom: 0;
    }

    .form__action {
        display: flex;
        justify-content: center;
    }

    .screen__puppy {
        margin-top: 100px;
        margin-left: 140px;
        width: 569px;
        height: 593px;
        background-size: cover;
    }

    .section__about {
        width: 768px;
    }

    .about__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 768px;
        padding: 80px 0 100px 0;
    }

    .about__text {
        margin: 0;
    }

    .about__pets {
        margin: 0;
        margin-top: 30px;
    }

    .pets__content {
        width: 768px;
    }

    .pets__slider {
        padding: 0 30px 0 30px;

    }
    .hidden {
        display: none;
    }

    .help__content {
        width: 768px;
        padding: 80px 0 0 0;
    }

    .help__list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .donation__content {
        width: 768px;
        flex-direction: column-reverse;
        padding-top: 40px;
    }

    .donation__dog {
        padding-top: 60px;
        margin: 0;
    }

    .donation__text span {
        margin-top: 20px;
    }

    footer {
        width: 768px;
     }
 
     .footer__content {
         width: 768px;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: 1fr 1fr;
         justify-items: center;
         padding: 0;
     }
 
     .footer__puppy {
         grid-column-start: 1;
         grid-column-end: 3;
     }

}

@media screen and (max-width: 320px){ 

    html {
        min-width: 320px;
        overflow-x: hidden;
    }
   
    .header__nav__link {
        display: none;
    }

    .burger__menu {
        display: block;
        position: absolute;
        width: 30px;
        height: 22px;
        left: 237px;
        top: 49px;
    }     

    .screen__content {
        width: 320px;
    }

    p br {
        display: none;
    }

    .screen__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        width: 300px;
        height: 296px;
        gap: 26px;
    }

    .screen__header h2 {
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .screen__header p {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }

    .screen__puppy {
        width: 260px;
        height: 271.77px;
        background-size: cover;
        margin-top: 100px;
        margin-left: 60px;
    }

    .section__about {
        width: 320px;
    }

    .about__content {
        width: 300px;
        padding-top: 42px;
        padding-bottom: 41px;
    }

    .about__text {
        width: 100%;
         height: 100%;    
    }

    .about__text h3 {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .about__text p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 190%;
    }

    .about__pets {
        width: 260px;
        height: 353.6px;
        margin-left: 0;
        margin-right: 0;
        background-size: cover;
    }

    .pets__content {
        width: 320px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pets__slider {
        display: flex;
        flex-direction:column;
    }

    .slider__button-style {
        display: grid;
        order: 1;
    }

    .pets__text {
        padding-bottom: 42px;
    }

    .hidden__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        padding-top: 20px;
    }

    .buttons__pets {
        margin-top: 0;
        padding-top: 42px;
    }

    .pets__text h3 {
        font-size: 25px;
    }


    .hidden_two {
        display: none;
    }


    .help__content {
        width: 320px;
        padding-top: 42px;
    }

    .help__list {
        width: 290px;
        padding: 42px 0 42px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin: 0 auto;
    }

    .help__text h3 {
        font-size: 25px;
    }

    .list__item img {
        width: 50px;
    }
    
    .list__item span {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 22px;
    }

    .donation__content {
        width: 300px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 42px;
    }

    .donation__dog {
        padding-top: 0;
    }

    .credit__cart {
        width: 300px;
    }

    .donation__text {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .donation__text h3 {
        text-align: center;
        font-size: 25px;
    }

    .donation__text h5 {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 0;
    }

    .credit__cart {
        width: 281px;
    }
    
    .credit__cart h4 {
        font-size: 15px;
        width: 206px;
    }

    .donation__dog img {
        width: 260px;
        height: 135.2px;
    }

    .section__donation {
        width: 320px;
    }

    footer {
        width: 320px;
    }

    .footer__content {
        width: 320px;
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 0;
    }

    .footer__contacts h3 {
        width: 270px;
        font-size: 25px;
        text-align: center;
    }

    .footer__content h3 {
        width: 270px;
        font-size: 25px;
        text-align: center;
    }

    .footer__puppy img {
        width: 260px;
        height: 269px;
    }
}